codecov>=2.0.5
coverage>=4.1
pytest
pytest-cov>=2.3.0, <3
# pinning to <0.4 for now until tests are fixed to
# work with pytest-filedata 0.4
pytest-filedata<1
tox>=2.3.1, <4

# plugins
pyzmq>=15.3.0, <19
whisper>=0.9.15, <2
rrdtool>=0.1.14, <1

# graphite
requests>=2.19.1
graphyte>=1.4

# standalone tests
graphsrv>=1, <2
vodka>=2, <3
